/* Container to center the card */
.blog-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4d03f; 
  font-family: 'Outfit', sans-serif;
}

/* The Card  */
.blog-card {
  background: white;
  width: 327px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #111;
  
  box-shadow: 8px 8px 0px 0px #000;
  transition: transform 0.2s ease;
}

/* Image styling */
.card-header img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

/* Badge/Tag */
.category-tag {
  display: inline-block;
  background-color: #f4d03f;
  font-weight: 800;
  padding: 4px 12px;
  border-radius: 4px;
  margin: 24px 0 12px;
}

.date-text {
  font-size: 0.85rem;
  margin-bottom: 12px;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 12px;
  cursor: pointer;
}

.blog-title:hover {
  color: #f4d03f;
}

.description-text {
  color: #6c757d;
  line-height: 1.5;
  margin-bottom: 24px;
}

/* Author Section */
.author-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 32px;
  height: 32px;
}

.author-name {
  font-weight: 800;
  font-size: 0.9rem;
}
